services:
  db:
    image: postgres:15-alpine
    container_name: umami-db
    env_file:
      - .env
    environment:
      - POSTGRES_DB=umami
      - POSTGRES_USER=umami
    volumes:
      - umami-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U umami -d umami"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  web:
    build: .
    container_name: swef_site
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=production
    depends_on:
      - db

  umami:
    image: ghcr.io/umami-software/umami:postgresql-latest
    container_name: umami
    ports:
      - "3000:3000"
    env_file:
      - .env

    depends_on:
      db:
        condition: service_healthy
    restart: always

  

volumes:
  umami-db-data:
